#root.board-container {
    width: 100%;
    height: calc(100vh - 2em);
    display: flex;
    flex-direction: column;
    &:not(.ready) {
        header .controls,
        > .content-container > .scroll-container > .border-container > .board,
        header #board-info,
        .tool-layer {
            .board-tool,
            > .history {
                @extend .disabled-interaction;
            }
        }
        > .minimap {
            display: none;
        }
    }

    &.embedded {
        font-size: 100%;
        header,
        .navigation-toolbar,
        .history,
        .zoom-toolbar,
        .undo-redo-toolbar,
        .minimap {
            display: none !important;
        }
        > .content-container > .scroll-container {
            overflow: hidden; /* no scroll */
            .border-container {
                padding: 0;
            }
        }
    }

    * {
        box-sizing: border-box;
        user-select: none;
    }

    *[contenteditable="true"] {
        // Need this for safari
        // https://developer.mozilla.org/en-US/docs/Web/CSS/user-select
        -webkit-user-select: text;
        user-select: text;
    }

    > .content-container {
        flex-grow: 1;
        height: 80%;
        position: relative;
        margin-top: $header-height;
        @media (max-width: $narrow-screen-breakpoint) {
            margin-top: $header-height + $fixed-toolbar-height;
        }
        > .scroll-container {
            height: 100%;
            overflow: auto;
            background: $off-board-color;
            .border-container {
                box-sizing: content-box;
            }
        }
    }

    .board {
        background-color: $off-board-color-just-a-little-bit-darker;
        background-image: linear-gradient(
                45deg,
                $off-board-color 25%,
                transparent 25%,
                transparent 75%,
                $off-board-color 75%
            ),
            linear-gradient(45deg, $off-board-color 25%, transparent 25%, transparent 75%, $off-board-color 75%);
        background-size: 60em 60em;
        background-position: 0 0, 30em 30em;
        width: 100%;
        height: 100%;
        position: relative;
        &.pan {
            cursor: grab;

            &:active {
                cursor: grabbing; /* FIXME: doesnt work on chrome even with vendor prefixing */
            }
        }

        .selection-control {
            display: block;
            pointer-events: none;
            border: 2px solid $link-color;
            position: absolute;
            z-index: $z-index-selection;
            .corner-resize-drag {
                pointer-events: all;
                @extend .dropshadow-shallow;
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
                .touch & {
                    width: max(0.8rem, min(1.5rem, 1em));
                    height: max(0.8rem, min(1.5rem, 1em));
                }
                background: white;
                border-radius: 20%;
                border: 1px solid #cccccc;
                $corner-offset: -7px;

                &.left.top,
                &.right.bottom {
                    cursor: nwse-resize;
                }
                &.left.bottom,
                &.right.top {
                    cursor: nesw-resize;
                }
                &.left {
                    left: $corner-offset;
                }
                &.right {
                    right: $corner-offset;
                }
                &.top {
                    top: $corner-offset;
                }
                &.bottom {
                    bottom: $corner-offset;
                }
            }
        }

        .item {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            > .shape {
                position: absolute;
                z-index: -1;
                box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.12);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transition: all 0.1s;
                &.round {
                    border-radius: 50%;
                }
                &.diamond {
                    transform: rotate(45deg) scale(0.707);
                }
            }
        }

        .note {
            @extend .item;
            font-family: $font-family-note;
            text-align: center;

            small {
                display: block;
                font-size: 0.3em;
            }
            .author {
                z-index: -1;
                font-family: $font-family;
                position: absolute;
                font-size: 0.5em;
                bottom: 0.2em;
                right: 0.2em;
                white-space: nowrap;
                overflow: hidden;
                max-width: 100%;
                opacity: 0.5;
            }
        }

        > .text {
            @extend .item;
            box-shadow: none;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .item .editable {
            outline: none;
        }

        $drag-edge-width: 1rem;

        .video,
        .container {
            .edge-drag {
                background: transparent;
                cursor: grab;
                position: absolute;

                &.left {
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: $drag-edge-width;

                    &:hover {
                        background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
                    }
                }
                &.right {
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: $drag-edge-width;

                    &:hover {
                        background: linear-gradient(270deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
                    }
                }
                &.top {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: $drag-edge-width;

                    &:hover {
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
                    }
                }
                &.bottom {
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: $drag-edge-width;

                    &:hover {
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
                    }
                }
            }
        }

        .container {
            @extend .item;
            cursor: initial;
            align-items: flex-start;
            justify-content: flex-start;

            > .text {
                margin-left: 0.5em;
                margin-top: 0.5em;
                z-index: 1;
            }
        }

        .image {
            @extend .item;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .video {
            @extend .item;
            video {
                width: calc(100% - 2 * #{$drag-edge-width});
                height: calc(100% - 2 * #{$drag-edge-width});
            }
        }

        .lock {
            position: absolute;
            bottom: 0.1em;
            left: 0.1em;
        }

        .cursor {
            z-index: $z-index-cursors;
            pointer-events: none;
            position: absolute;
            display: block;
            transition-timing-function: ease-in-out;
            //transition: left 0.1s, top 0.1s;
            .arrow {
                transform: rotate(-35deg);
                display: block;
                width: 0px;
                height: 0 px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 10px solid $link-color;
            }
            .userInfo {
                display: flex;
                align-items: center;
                margin-left: 0.6em;
                img {
                    border-radius: 50%;
                    max-width: 1em;
                }
                .text {
                    font-size: 0.5rem;
                    margin-left: 0.3em;
                }
            }
        }

        .rectangular-selection {
            pointer-events: none;
            position: absolute;
            border: 1px solid $link-color;
            background: #35b2dc33;
            z-index: $z-index-cursors;
        }
    }

    .context-menu-positioner {
        z-index: $z-index-menu;
        position: absolute;

        > * {
            font-size: 1rem;
            .touch & {
                font-size: 1.7rem;
            }
        }

        .context-menu {
            padding: 0.5em;
            border: 1px solid #cccccc;
            border-radius: 2px;
            background: white;
            &.hidden {
                display: none;
            }
            display: grid;
            grid-column-gap: 0.5em;
            grid-row-gap: 0.5em;
            grid-auto-flow: column;

            cursor: pointer;

            .icon-group {
                grid-auto-flow: column;
            }
        }

        &.item-bottom {
            .context-menu {
                margin-top: 0.5em;
            }
            .submenu {
                top: 2.8em;
            }
        }
        &.item-top {
            .context-menu {
                margin-top: -2.5em;
            }
            .submenu {
                bottom: 2.7em;
            }
        }

        .icon-group {
            display: inline-grid;
            grid-column-gap: 0.5em;
            grid-row-gap: 0.5em;
        }

        .icon.color {
            height: 1em;
            width: 1em;
            display: inline-block;
            &.white,
            &.transparent {
                border: 1px solid #eeeeee;
            }
            &.transparent {
                background: repeating-conic-gradient(#dddddd 0% 25%, transparent 0% 50%) 50%/0.5em 0.5em;
            }
        }

        .connection-ends {
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .submenu {
            padding: 0.5em;
            border: 1px solid #cccccc;
            border-radius: 2px;
            background: white;
            display: flex;
            position: absolute;
            align-items: flex-start;
            left: 0;
            margin: 0;

            > *:not(:first-child) {
                margin-left: 1em;
            }

            .colors {
                grid-template-columns: repeat(4, 1fr);
            }

            .shapes {
                grid-template-columns: repeat(2, 1fr);
            }

            &.alignment.y {
                left: 1.5em;
            }

            &.alignment.x {
                .icon-group {
                    grid-auto-flow: column;
                }
            }
        }
    }

    svg.connections {
        .connection {
            stroke: $connection-color;
            stroke-width: max(0.1em, 1.5px);
            stroke-linecap: round;
            fill: transparent;

            &.selected {
                stroke: $link-color;
            }
        }
    }

    .connection-node {
        display: block;
        width: max(0.4em, 6px);
        height: max(0.4em, 6px);
        cursor: pointer;
        position: absolute;

        &.black-dot-style {
            background: $connection-color;
            border-radius: 50%;
            $corner-offset: -7px;
            width: max(0.3em, 6px);
            height: max(0.3em, 6px);
            &.highlight {
                background: $link-color;
            }
        }

        &.arrow-style {
            box-shadow: none;
            background: transparent;

            width: 0;
            height: 0;
            border-top: max(0.2em, 3px) solid transparent;
            border-left: max(0.6em, 8px) solid $connection-color;
            border-bottom: max(0.2em, 3px) solid transparent;

            &.highlight {
                border-top: max(0.3em, 4.5px) solid transparent;
                border-left: max(0.9em, 12px) solid $link-color;
                border-bottom: max(0.3em, 4.5px) solid transparent;
            }
        }
    }

    .connection-node-grabber-helper {
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 100000;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        width: min(4em, 2rem);
        height: min(4em, 2rem);
        border-radius: 50%;
        cursor: pointer;
        .board:not(.connect) & {
            &:hover {
                background: rgba(0, 0, 0, 0.1);
            }
        }
    }

    .board.connect {
        .item {
            &:hover {
                border: 1px solid black;
            }
        }
    }
}
