#root.dashboard {
    $ukraineBlue: #327fcc;
    $ukraineYellow: #ffcc00;
    background-color: #ffcc00c7;
    color: $ukraineBlue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;

    h1 {
        color: $ukraineBlue;
    }

    input {
        color: $black;
        background-color: white;
        border: none;
        padding: 3px 6px;
        border-radius: 6px;
    }

    button {
        color: $ukraineBlue;
        background-color: $ukraineYellow;
        border-color: $ukraineYellow;
        &:disabled {
            background-color: #0099ee;
            border-color: #0099ee;
        }
    }

    ::placeholder {
        color: $ukraineBlue;
        opacity: 0.5;
    }

    .content {
        max-width: min(30em, 100vw);
        margin: 4em 1em 0;
        .touch & {
            width: 95vw;
        }
    }
    a {
        text-decoration: none;
        color: $ukraineBlue;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        > * {
            margin: 0;
        }
        p {
            text-align: center;
        }
        h1 {
            font-size: 3em;
            margin-bottom: 1rem;
        }
    }
    .user-info {
        margin-top: 4em;
        display: flex;
        justify-content: flex-end;
        font-size: 0.8em;
        a {
            margin-left: 1ch;
        }
        margin-bottom: 0.5em;
    }
    main {
        padding: 2em;
        background: $ukraineBlue;
        color: white;
        border-radius: 11px;
        a {
            color: white;
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        .templates {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
        }
    }

    .user-content {
        display: flex;
    }

    .recent-boards {
        h2 a.edit {
            margin-left: 1ch;
            font-size: 0.6em;
        }
        &.filtered h2 a.edit {
            display: none;
        }
        .search {
            input {
                outline: none;
                margin-bottom: 1em;
            }
        }
        .remove {
            margin-left: 0.5em;
            font-size: 0.6em;
            visibility: hidden;
            text-decoration: none;
        }
        .notouch & li:hover,
        &.edit li {
            .remove {
                visibility: visible;
            }
        }
        .view-options {
            font-size: 0.8em;
            margin-top: 1em;
            a {
                margin-right: 1em;
            }
        }
    }
    .create-board {
        box-sizing: border-box;
        max-width: min(100vw, 800px);
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .input-and-button {
            width: 100%;
            margin-bottom: 0.3rem;
            display: flex;
            flex: 1;

            input {
                flex: 1;
            }
            button {
                margin-left: 1rem;
            }

            .touch & {
                flex-direction: column;
                align-items: flex-start;
                input {
                    width: 100%;
                }
                button,
                input {
                    font-size: 1.2em;
                    margin: 0;
                }
                button {
                    margin-top: 0.5em;
                    height: 1.8em;

                    transition: all 0.3s;
                    &:disabled {
                        margin-top: 0;
                        padding-top: 0;
                        padding-bottom: 0;
                        height: 0;
                        opacity: 0;
                    }
                }
            }
        }
    }
}

.board-access-editor {
    [type="checkbox"] {
        margin-left: 0;
        margin-right: 0.5em;
    }

    button {
        height: 2rem;
        min-width: 8rem;
        max-width: 8rem;
    }

    .domain-restrict-details {
        margin-left: 2.5em;
        margin-top: 1em;
        > label {
            margin-bottom: 1em;
            display: block;
        }
        .allow-public-read {
            margin-top: 1em;
            margin-left: -2.5em;
        }
    }

    .input-and-button {
        width: 100%;
        margin-bottom: 0.3rem;
        display: flex;
        flex: 1;

        input {
            flex: 1;
        }
        button {
            margin-left: 1rem;
        }

        justify-content: space-between;

        .filled-entry {
            display: flex;
            align-items: center;
            font-size: 0.8em;
        }
    }

    .restrict-toggle {
        display: flex;
        font-size: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
