#root.board-container header {
    white-space: nowrap;
    border-bottom: 2px solid #e7e8e8;
    font-size: 0.8em;
    z-index: $z-index-menu;
    padding: 0.8em;
    width: 100%;
    display: flex;
    background: #fffffff8;
    color: $black;

    span[contenteditable] {
        border: 2px solid transparent;
        padding: 0.3rem 0.6rem;
        &[contenteditable="false"]:hover,
        &:focus {
            border: 2px solid #2f80edd9;
        }
        &:focus {
            outline: none;
        }
    }

    > * {
        width: 33.3%;
    }

    > #board-name {
        text-align: center;
        margin-left: 0.5em;
        margin-left: 1rem;
        small {
            color: gray;
            border-radius: 0.5em;
            padding: 1px 0.5em;
            font-size: 0.6em;
            vertical-align: middle;
        }
        a:not(:first-of-type) svg {
            margin-left: 0.21em;
        }
    }

    .user-info {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .icon {
            img {
                max-height: 1em;
                border-radius: 50%;
            }
        }
        a.login,
        a.logout {
            margin-left: 0.8em;
            font-size: 0.6em;
        }
        &.logging-in-local,
        &.logging-in-server {
            @extend .disabled-interaction;
        }
        @media (max-width: 700px) {
            &.logged-in {
                .name {
                    display: none;
                }
            }
            &.logged-out {
                .name {
                    font-size: 0.6em;
                }
            }
        }
    }
    > * {
        color: $black;
    }
}
