#root.board-container.not-found header {
    #board-info {
        visibility: hidden;
    }
}
#root.board-container header {
    position: fixed;
    top: 0;
    white-space: nowrap;
    border-bottom: 2px solid #e7e8e8;
    font-size: 0.8em;
    z-index: $z-index-top-menu;
    padding: 0 0.8em;
    height: $header-height;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: #fffffff8;
    color: $black;

    @media (max-width: $narrow-screen-breakpoint) {
        border-bottom: none;
    }

    span[contenteditable] {
        border: 2px solid transparent;
        &[contenteditable="false"]:hover,
        &:focus {
            border: 2px solid #2f80edd9;
            outline: none;
            font-size: 1rem;
        }
    }

    .logo-area {
        display: flex;
        align-items: center;
        a {
            display: none;
            @media (max-width: $narrow-screen-breakpoint) {
                display: flex;
                align-items: center;
                .icon {
                    vertical-align: top;
                    margin-right: 0.5em;
                }
                text-decoration: none;
                color: $black;
            }
        }
    }

    > #board-info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.5em;
        margin-left: 1rem;
        #board-name {
            margin-right: 0.5em;
        }
        small {
            color: gray;
            border-radius: 0.5em;
            padding: 1px 0.5em;
            font-size: 0.6em;
            vertical-align: middle;
        }
        a svg {
            height: 1em;
        }
        a:not(:first-of-type) svg {
            margin-left: 0.21em;
        }
    }

    .right-panel {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media (max-width: $narrow-screen-breakpoint) {
            .other-users {
                display: none;
            }
        }

        .other-users {
            position: relative;
            .pop-up {
                position: absolute;
                top: 1em;
                right: 0;
                min-width: 10em;
                background-color: white;
                border-radius: 0px 0px 3px 3px;
                padding: 1.5em 1em 1em;
                text-align: right;
                display: none;
                ul {
                    li:first-child {
                        margin-bottom: 0.5em;
                    }
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }
                border-bottom: 2px solid #e7e8e8;
            }
            &:hover {
                .pop-up {
                    display: block;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        font-size: 0.8rem;
    }

    .user-info {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-left: 1em;
        .icon {
            cursor: pointer;
            margin-right: 0.5em;
            display: inline-flex;
            img {
                border-radius: 50%;
            }
            svg {
                width: 100%;
            }
        }

        &.logging-in-local,
        &.logging-in-server {
            @extend .disabled-interaction;
        }
        &.logged-in {
            .icon {
                height: 2em;
                width: 2em;
            }
        }
    }
    > * {
        color: $black;
    }
}
