@import "./variables.scss";

.modal-dialog .sharing {
    h2:not(:first-of-type) {
        margin-top: 1em;
    }

    .copied {
        color: $orange;
        font-size: 0.8em;
        margin-left: 1em;
    }
}
