$black: #00263a;
$off-board-color: #f4f4f6;
$off-board-color-just-a-little-bit-darker: #f2f2f3;
$link-color: #35b2dc;
$heading-color: $link-color;
$orange: #ff5544;
$connection-color: #444444;

$z-index-menu: 400000010;
$z-index-cursors: 40000008;
$z-index-selection: 40000006;
$z-index-modal: 400000020;

$left-padding: 1em;
$bottom-bar-height: 3em;
$font-family: Raleway, sans-serif;
$font-family-note: Raleway, sans-serif;
$board-border-top: 2.8rem;
$disabled-color: lightgrey;

$header-height: 2.4rem;
$fixed-toolbar-height: 5rem;
$narrow-screen-breakpoint: 700px;
$non-narrow-screen-breakpoint: 701px;
