$left-padding: 1em;
$black: #333366;
$off-board-color: #dddddd;
$bottom-bar-height: 3em;
$font-family: Roboto, sans-serif;
$font-family-note: Montserrat, sans-serif;
$link-color: #35b2dc;
$heading-color: $link-color;
$heading-height: 1.8em;
$board-border-top: 2.8rem;
$material-design-icons-font-directory-path: "~../../node_modules/material-design-icons-iconfont/dist/fonts/";
$disabled-color: lightgrey;
$z-index-menu: 400000002;
$z-index-minimap: 400000001;
$z-index-cursors: 400000000;

@import "~material-design-icons-iconfont/src/material-design-icons";
@import "ui.scss";

* {
    box-sizing: border-box;
    user-select: none;
}

*[contenteditable="true"] {
    user-select: initial;
}

html {
    font-size: min(4vw, 3vh, 20px);
    font-family: $font-family;
    color: $black;
}

h2 {
    font-size: 1.3em;
}

input {
    font-size: 1.1rem;
    user-select: text;
}

textarea {
    font-size: 1rem;
    font-family: $font-family;
}

button {
    @extend .dropshadow;
    cursor: pointer;
    font-size: 1rem;

    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    outline: none;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    background-color: $heading-color;
    color: white;

    padding: 0.2em 2em;
    max-height: 2em;

    &.mini {
        width: 1.5em;
        margin: 0.3em;
        padding: 0;
    }

    &:hover {
        text-decoration: none;
    }

    &:disabled {
        background-color: $disabled-color;
        color: grey;
    }
}

body {
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.dropshadow {
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.16);
}
.dropshadow-shallow {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.16);
}

.textshadow {
    text-shadow: -1px 2px 6px rgba(0, 0, 0, 0.3);
}

a {
    color: $link-color;
    cursor: pointer;
}

#root.board-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    &.loading {
        opacity: 0.3;
        pointer-events: none;
    }

    header {
        @extend .dropshadow;

        position: fixed;
        z-index: $z-index-menu;
        padding: 0.2em $left-padding;
        padding-right: 2em;
        width: 100%;
        display: flex;
        align-items: center;
        background: #fffffff8;
        color: $black;

        > #board-name {
            margin-left: 0.5em;
            margin-left: 1rem;
        }

        .controls {
            display: flex;
            flex-grow: 1;
            padding-left: $left-padding;
            align-items: center;
            .icon {
                &:not(:first-child) {
                    margin-left: 0.5em;
                }
                cursor: pointer;
                position: relative;
                &.active {
                    &:after {
                        content: "";
                        position: absolute;
                        pointer-events: none;
                        border-bottom: 2px solid black;
                        top: 0;
                        margin-bottom: -4px;
                        z-index: -1;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                }
            }
            .palette {
                margin-left: 0.5em;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                .item {
                    cursor: pointer;
                    margin-left: 0.5em;
                    height: 1em;
                }
                .note {
                    @extend .item;
                    width: 1em;
                }
                .container {
                    @extend .item;
                    width: 2em;
                    background: white;
                    border: 1px solid black;
                    color: #888;
                    line-height: 1em;
                    display: inline-block;
                    box-sizing: content-box;
                    padding: 0.1em 0.2em;
                }
                .text {
                    @extend .item;
                    background: white;
                    color: $black;
                    line-height: 1em;
                    display: inline-block;
                    border: 0.1em solid white;
                    box-sizing: content-box;
                }
            }

            .trackpad-mode-switch {
                border: 1px solid black;
                border-radius: 1px;
                padding: 4px;
                margin-left: 0.3em;
                display: flex;
                align-items: center;
                justify-content: space-between;

                small {
                    font-size: 0.5em;
                }
            }

            .switch {
                position: relative;
                display: flex;
                width: 30px;
                height: 12px;
                margin-right: 0.2em;
            }

            /* Hide default HTML checkbox */
            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: 0.4s;
                transition: 0.4s;
                border-radius: 17px;
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 10px;
                width: 10px;
                left: 2px;
                bottom: 1px;
                background-color: white;
                -webkit-transition: 0.4s;
                transition: 0.4s;
                border-radius: 50%;
            }

            input:checked + .slider {
                background-color: #2196f3;
            }

            input:focus + .slider {
                box-shadow: 0 0 1px #2196f3;
            }

            input:checked + .slider:before {
                -webkit-transform: translateX(16px);
                transform: translateX(16px);
            }
        }

        .user-info {
            display: flex;
            align-items: center;
            a.login,
            a.logout {
                margin-left: 0.5em;
                font-size: 0.6em;
            }
        }
        > * {
            color: $black;
        }

        > .icon.menu {
            cursor: pointer;

            > .menu {
                @extend .dropshadow;
                font-family: $font-family;
                position: absolute;
                left: 2.2em;
                top: 1.2em;
                width: 20em;
                background: white;
                color: $black;
                padding: 0.5em;
                li {
                    padding: 0.2em 0.5em;
                    cursor: pointer;
                    &:hover:not(.disabled) {
                        background: #666666;
                        color: white;
                    }
                    &.disabled {
                        pointer-events: none;
                        color: #aaaaaa;
                        cursor: auto;
                    }
                }
            }
        }

        .sync-status {
            display: inline-block;
            height: 16px;
            width: 16px;
            margin: auto 0.3em;
            background-image: url("img/ajax-loader.gif");
            transition: opacity 0.5s;
            &.up-to-date {
                opacity: 0;
            }
        }
    }

    > .scroll-container {
        flex-grow: 1;
        overflow: auto;
        background: $off-board-color;
        .border-container {
            box-sizing: content-box;
            padding: $board-border-top 1rem 1rem 1rem;
        }
    }

    .board {
        background-color: white;
        background-size: 8em 8em;
        background-image: linear-gradient(to right, rgb(235, 235, 235) 1px, transparent 1px),
            linear-gradient(to bottom, rgb(235, 235, 235) 1px, transparent 1px);
        width: 100%;
        height: 100%;
        position: relative;
        &.mouse {
            cursor: grab;

            &:active {
                cursor: grabbing; /* FIXME: doesnt work on chrome even with vendor prefixing */
            }
        }

        .item {
            box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.26);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .note {
            @extend .item;
            font-family: $font-family-note;
            text-align: center;
       
            &.color-f5f18d ::selection {
                color: black;
                background: #ffc107;
            }
            &.color-f3bf71 ::selection {
                color: black;
                background: #ffeb3b;
            }
            &.color-81bae7, &.color-black {
                ::selection {
                    color: white;
                    background: #3f51b5
                }            
            }
            small {
                display: block;
                font-size: 0.3em;
            }
            .author {
                z-index: -1;
                font-family: $font-family;
                position: absolute;
                font-size: 0.5em;
                bottom: 0.2em;
                right: 0.2em;
                white-space: nowrap;
                overflow: hidden;
                max-width: 100%;
                opacity: 0.5;
            }
        }

        > .text {
            @extend .item;
            box-shadow: none;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .item .editable {
            outline: none;
        }

        .container {
            @extend .item;
            cursor: initial;
            align-items: flex-start;
            justify-content: flex-start;
            .text {
                margin-left: 0.5em;
                margin-top: 0.5em;
            }

            .edge-drag {
                background: transparent;
                cursor: grab;
                position: absolute;

                &.left {
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 1em;

                    &:hover {
                        background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
                    }
                }
                &.right {
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 1em;

                    &:hover {
                        background: linear-gradient(270deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
                    }
                }
                &.top {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 1em;

                    &:hover {
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
                    }
                }
                &.bottom {
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1em;

                    &:hover {
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
                    }
                }
            }
        }

        .image {
            @extend .item;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .lock {
            position: absolute;
            bottom: 0.1em;
            left: 0.1em;
        }

        .selection-control {
            $border-offset: 0.25em;
            display: block;
            pointer-events: none;
            border: 2px solid $link-color;
            width: calc(100% + 2 * #{$border-offset});
            height: calc(100% + 2 * #{$border-offset});
            top: -#{$border-offset};
            left: -#{$border-offset};
            position: absolute;
            .corner-resize-drag {
                pointer-events: all;
                @extend .dropshadow-shallow;
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
                background: white;
                border-radius: 2px;
                border: 1px solid #cccccc;
                $corner-offset: -7px;

                &.left.top,
                &.right.bottom {
                    cursor: nwse-resize;
                }
                &.left.bottom,
                &.right.top {
                    cursor: nesw-resize;
                }
                &.left {
                    left: $corner-offset;
                }
                &.right {
                    right: $corner-offset;
                }
                &.top {
                    top: $corner-offset;
                }
                &.bottom {
                    bottom: $corner-offset;
                }
            }
        }

        .cursor {
            z-index: $z-index-cursors;
            pointer-events: none;
            position: absolute;
            display: block;
            //transition: left 0.1s, top 0.1s;
            .arrow {
                transform: rotate(-35deg);
                display: block;
                width: 0px;
                height: 0 px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 10px solid tomato;
            }
            .text {
                font-size: 0.5rem;
                margin-left: 0.5rem;
            }
        }

        .rectangular-selection {
            pointer-events: none;
            position: absolute;
            border: 1px solid $link-color;
            background: #35b2dc33;
        }
    }

    .minimap {
        z-index: $z-index-minimap;
        font-size: 1vw;
        display: inline-block;
        position: absolute;
        bottom: 1rem;
        right: 4rem;
        background: #eeeeee88;
        border: 0.3em solid #eeeeee88;
        box-sizing: content-box;
        .viewarea {
            display: inline-block;
            position: absolute;
            background: #ffffff;
        }
        .item {
            display: inline-block;
            position: absolute;
            background: #d8d8d8;
            border: 2px solid #d8d8d8;
        }
    }

    .context-menu-positioner {
        @extend .ui-context-menu-positioner;

        .context-menu {
            @extend .ui-context-menu;
            font-size: 1rem;
            height: 2em;
            margin-top: -2.5em;
            cursor: pointer;
            .colors {
                .color {
                    height: 1em;
                    width: 1em;
                    display: inline-block;
                    &:not(:last-child) {
                        margin-right: 0.5em;
                    }
                    &.white {
                        border: 1px solid #eeeeee;
                    }
                }
            }
        }
    }

    > .history {
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        z-index: $z-index-menu;
        background: white;
        padding: $board-border-top 1rem 1rem 1rem;
        border-left: 1px solid #cccccc;
        > .selection {
            margin-top: -1rem;
            margin-bottom: 1em;
            font-size: 0.6em;
        }
        > .icon {
            cursor: pointer;
        }
        .scroll-container {
            overflow-y: auto;
            table {
                tr {
                    vertical-align: top;
                    .timestamp {
                        min-width: 5em;
                    }
                    .action {
                        min-width: 8em;
                    }
                }
            }
        }
    }
}

#root.dashboard {
    padding-left: $left-padding;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        .templates {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
        }
    }

    .recent-boards {
        .remove {
            margin-left: 0.5em;
            font-size: 0.6em;
            visibility: hidden;
            text-decoration: none;
        }
        li:hover {
            .remove {
                visibility: visible;
            }
        }
    }
    .create-board {
        button {
            margin-left: 0.5em;
        }
    }
}

.icon {
    display: inline-block;
    width: 1em;
    min-width: 1em;
    height: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    &.edit {
        @extend .material-icons;
        @include material-icon("edit");
    }
    &.copy {
        @extend .material-icons;
        @include material-icon("content_copy");
    }
    &.link {
        @extend .material-icons;
        @include material-icon("link");
    }
    &.unlink {
        @extend .material-icons;
        @include material-icon("link_off");
    }
    &.redo {
        @extend .material-icons;
        @include material-icon("redo");
    }
    &.undo {
        @extend .material-icons;
        @include material-icon("undo");
    }
    &.zoom_in {
        @extend .material-icons;
        @include material-icon("zoom_in");
    }
    &.zoom_out {
        @extend .material-icons;
        @include material-icon("zoom_out");
    }
    &.back {
        @extend .material-icons;
        @include material-icon("arrow_back");
    }
    &.menu {
        @extend .material-icons;
        @include material-icon("arrow_drop_down");
    }
    &.user {
        @extend .material-icons;
        @include material-icon("face");
    }
    &.history {
        @extend .material-icons;
        @include material-icon("history");
    }
    &.pan {
        @extend .material-icons;
        @include material-icon("pan_tool");
        font-size: 0.9em;
    }
    &.cursor-arrow {
        background-image: url(img/cursor-arrow.svg);
    }
    &.disabled {
        pointer-events: none;
        color: $disabled-color;
    }
}

// Need this for safari
// https://developer.mozilla.org/en-US/docs/Web/CSS/user-select
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

select {
    border: 0;
    border-bottom: 1px solid black;
    font: 0.7em $font-family;

    &:focus {
        outline: 0;
    }
}

.checkbox {
    @extend .icon;
    background-image: url(img/unchecked-checkbox.png);
    cursor: pointer;
    &.checked {
        background-image: url(img/checked-checkbox.png);
    }
    width: initial;
    min-width: 1em;
    padding-left: 1.5em;
    color: $black; /* to prevent link-like coloring for contained text */
}
