$left-padding: 1em;
$black: #333366;
$off-board-color: gray;
$bottom-bar-height: 3em;
$font-family: Roboto, sans-serif;
$font-family-postit: Montserrat, sans-serif;
$link-color: #35b2dc;
$heading-color: $link-color;
$heading-height: 2.5em;

* {
    box-sizing: border-box;
}

html {
    font-size: min(4vw, 3vh);
    font-family: $font-family;
    color: $black;
}

h2 {
    font-size: 1.3em;
}

input {
    font-size: 1.1rem;
}

textarea {
    font-size: 1rem;
    font-family: $font-family;
}

button {
    @extend .dropshadow;
    cursor: pointer;
    font-size: 1rem;

    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    outline: none;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;    

    background-color: $heading-color;
    color: white;

    width: 1.5em;
    margin: 0.3em;


    &:hover {
        text-decoration: none;
    }
}

body {
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    header {
        @extend .dropshadow;
        padding-left: $left-padding;
        width: 100%;
        display: flex;        
        background: $heading-color;
        color: white;
        height: $heading-height;
        > * {
           margin-top: 0.2rem; 
        }
        h1 {
            flex-grow: 1;
            margin: 0.3em 0;
            font-size: 1.4em;
            margin-bottom: 0.4em;
            a {
                color: white;
                text-decoration: none;
            }
        }
        .sync-status {
            .symbol {
                margin-left: 0.5em;
                transition: all 0.5s;
                cursor: pointer;
                font-size: 2.5em
            }
            &.up-to-date .symbol {
                color: #4aea4a;
                font-size: 1em;
            }
            &.offline .symbol, &.sync-pending .symbol {
                @extend .textshadow;
                color: #ed4444;
            }
        }      
    }    
}

.dropshadow {
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.16);
}
.dropshadow-shallow {
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.16);
}

.textshadow {
    text-shadow: -1px 2px 6px rgba(0, 0, 0, 0.3);
}

a {
    color: $link-color;
    cursor: pointer;
}

.board-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .controls {
        background: #3178ab;
        color: white;
        padding-left: $left-padding;
        .palette {
            margin-left: 0.5em;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            .postit {
                cursor: pointer;
                margin-left: 0.5em;
                height: 1em;
                width: 1em;
            }
        }
    }

    .scroll-container {
        overflow: auto;
        flex-grow: 1;
        background: $off-board-color;
    }

    .board {        
        box-sizing: content-box;
        background: white;
        width: 100%;
        height: 100%;
        position: relative;
        user-select: none;

        .item {
            box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.26);
            display: inline-flex;
            align-items: center;
            justify-content: center;            
            cursor: pointer;
        }
    
        .postit {
            @extend .item;            
            font-family: $font-family-postit;
            small {
                display: block;
                font-size: 0.3em;
            }
        } 
        
        .image {
            @extend .item;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .selection-control {
            display: block;
            pointer-events: none;
            border: 2px solid $link-color;
            width: calc(100% + 0.5em);
            height: calc(100% + 0.5em);
            position: absolute;
            .corner-drag {
                pointer-events: all;
                @extend .dropshadow-shallow;
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
                background: white;
                border-radius: 2px;
                border: 1px solid #cccccc;
                $offset: -7px;
                &.left {
                    left: $offset;
                }
                &.right {
                    right: $offset;
                }
                &.top {
                    top: $offset;
                }
                &.bottom {
                    bottom: $offset;
                }
            }
        }

        .cursor {
            .text {
                font-size: 0.5rem;
                margin-left: 0.5rem;
            }
        }

        .rectangular-selection {
            position: absolute;
            border: 1px solid $link-color;
            background: #35b2dc33;
        }

    }

    .context-menu {
        position: fixed;
        padding: 1em;
        border: 1px solid black;
        background: white;
        cursor: pointer;
        &.hidden {
            display: none;
        }
    }

}

.dashboard {
    .create-board {
        * {
             margin-right: 1em;
             margin-bottom: 1em;
        }
    }
}